<% provide(:title, 'All Teams') %>

<%= will_paginate %>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Season</th>
    <th>Division</th>
    <th>Sex</th>
    <% if admin? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

  <%=render @teams %>

</table>

<%= will_paginate %>

<% if admin? %>
  <%= link_to raw('<i class="icon-plus icon-white"></i> New Team'), new_team_path, class: "btn btn-large btn-primary" %>
<% end %>

<% provide :leftNavButtonBody, 'Divisions' %>
<% provide :leftNavButtonUrl, divisions_path %>

<% provide :rightNavButtonBody, 'Players' %>
<% provide :rightNavButtonUrl, players_path %>