<% provide(:title, 'All Seasons') %>

<% if admin? %>
  <% provide :actions, link_to(raw('<i class="icon-plus icon-white"></i> New Season'), new_season_path, class: "btn btn-large btn-primary") %>
<% end %>

<%= render 'layouts/pagination' %>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Competition</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Cost</th>
    <th>Cost (Student)</th>
    <% if admin? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

  <%=render @seasons %>

</table>

<%= render 'layouts/pagination' %>

<% provide :leftNavButtonBody, 'Competitions' %>
<% provide :leftNavButtonUrl, competitions_path %>

<% provide :rightNavButtonBody, 'Divisions' %>
<% provide :rightNavButtonUrl, divisions_path %>