<% provide(:title, 'New Invoice') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@invoice, html: {class: "form-horizontal well"}) do |f| %>

      <%=render 'fields', f: f %>

      <div class="form-actions">
        <%= f.submit "Create Invoice", class: "btn btn-large btn-primary btn-success" %>
        <%= link_to 'Cancel', invoices_path, class: "btn btn-large" %>
      </div>
    <% end %>
  </div>
</div>

<% provide :leftNavButtonBody, 'Invoices' %>
<% provide :leftNavButtonUrl, invoices_path %>