<tr>
  <td><%=competition.name %></td>
  <td><%= link_to 'Show', competition %></td>
  <% if admin? %>
    <td><%= link_to 'Edit', edit_competition_path(competition) %></td>
    <td><%= link_to 'Destroy', competition, method: :delete, data: { confirm: t(:confirm_competition_delete, {id: competition.id, name: competition.name}) } %></td>
  <% end %>
</tr>