<tr>
  <td><%= link_to competition.name, competition %></td>
  <% if admin? %>
    <td><%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_competition_path(competition), {class: "btn btn-warning"} %></td>
    <td><%= link_to raw('<i class="icon-trash icon-white"></i> Delete'), competition, class: "btn btn-danger", method: :delete, data: { confirm: t(:confirm_competition_delete, {id: competition.id, name: competition.name}) } %></td>
  <% end %>
</tr>