<% provide(:title, @competition.name) %> 
<% provide(:titleSmall, "Edit") %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@competition, html: {class: "form-horizontal well"}) do |f| %>
      
      <%=render 'fields', f: f %>

      <div class="form-actions">
        <%= f.submit "Save changes", class: "btn btn-large btn-success" %>
        <%= link_to 'Cancel', @competition, class: "btn btn-large" %>
      </div>
    <% end %>
  </div>
</div>

<% provide :leftNavButtonBody, 'Competitions' %>
<% provide :leftNavButtonUrl, competitions_path %>