<% provide(:title, 'New Competition') %>
<h1>New Competition</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@competition) do |f| %>

      <%=render 'fields', f: f %>

      <%= f.submit "Create competition", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>