<% provide(:title, @competition.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @competition.name %>
      </h1>
      <span>System ID: <%= @competition.id%></span>
    </section>
  </aside>
</div>

<% if admin? %>
  <%= link_to 'Edit', edit_competition_path(@competition) %> |
<% end %>

<%= link_to 'List', competitions_path %>
