<% provide(:title, @competition.name) %>

<div class="row">
  <div class="span4 offset4">
    <dl class="dl-horizontal">
      <%= dtdd 'Name', @competition.name %>
      
      <% unless @competition.seasons.empty? %>
        <dt>
          Seasons
        </dt>
        <dd>
          <ul class="unstyled">
            <% @competition.seasons.each do |season| %>
              <li><%= link_to season.name, season_path(season) %></li>
            <% end %>
          </ul>
        </dd>
      <% end %>
      
      <% if admin? %>
        <%= dtdd '', link_to('Edit', edit_competition_path(@competition), class: "btn btn-large btn-warning") %>
      <% end %>
    </dl>
  </div>
</div>

<% provide :leftNavButtonBody, 'Competitions' %>
<% provide :leftNavButtonUrl, competitions_path %>
