<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: t(:confirm_user_delete, {id: user.id, name: user.name, email: user.email})} %>
  <% end %>
</li>