<tr>
  <td><%= link_to user.name, user %></td>
  <td><%= mail_to user.email, nil, encode: "javascript" %></td>
  <td>
    <% if current_user? user %>
      <%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_user_path(user), {class: "btn btn-warning"} %>
    <% end %>
  </td>
  <% if admin? %>
    <td><%= link_to raw('<i class="icon-trash icon-white"></i> Delete'), user, class: "btn btn-danger", method: :delete, data: { confirm: t(:confirm_user_delete, {id: user.id, name: user.name, email: user.email})} %></td>
  <% end %>
</tr>