<% provide(:title, 'All Users') %>
<h1><%=yield(:title) %></h1>

<%= will_paginate %>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <% if admin? %>
      <th></th>
    <% end %>
  </tr>

  <%=render @users %>

</table>

<%= will_paginate %>

<% provide :leftNavButtonBody, 'Home' %>
<% provide :leftNavButtonUrl, root_path %>