<% provide(:title, 'Sign Up') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      
      <%=render 'fields', f: f %>

      <%= button_tag(type: :submit, class: "btn btn-large btn-success") do %>
        <i class='icon-ok'></i> Create My Account
      <% end %>
      <%= link_to raw("<i class='icon-remove'></i> Cancel"), root_path, class: "btn btn-large" %>
    <% end %>
  </div>
</div>

<% provide :leftNavButtonBody, 'Home' %>
<% provide :leftNavButtonUrl, root_path %>