<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <span>ID: <%= @user.id%></span>
      <span><%= @user.email %></span>
    </section>
  </aside>
</div>