<% provide(:title, @user.name) %>
<% provide(:titleSmall, "Edit") %>

<div class="row">
  <div class="span4 offset4">
    <dl class="dl-horizontal">
      <%= dtdd 'Name', @user.name %>
      <%= dtdd 'Email', mail_to(@user.email, nil, encode: "javascript") %>
      
      <% if current_user? @user %>
        <%= dtdd '', link_to('Edit', edit_user_path(@user), class: "btn btn-large btn-warning") %>
      <% end %>
    </dl>
  </div>
</div>

<% provide :leftNavButtonBody, 'Users' %>
<% provide :leftNavButtonUrl, users_path %>