<tr>
  <td><%= link_to division.name, division %></td>
  <td><%=sex_string(division.sex) %></td>
  <% if admin? %>
    <td><%= link_to 'Edit', edit_division_path(division), {class: "btn btn-warning"} %></td>
    <td><%= link_to 'Delete', division, class: "btn btn-danger", method: :delete, data: { confirm: t(:confirm_division_delete, {id: division.id, name: division.name, sex: sex_string(division.sex)}) } %></td>
  <% end %>
</tr>