<% provide(:title, 'New Division') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@division, html: {class: "form-horizontal well"}) do |f| %>

      <%=render 'fields', f: f %>

      <div class="form-actions">
        <%= f.submit "Create Division", class: "btn btn-large btn-primary btn-success" %>
        <%= link_to 'Cancel', divisions_path, class: "btn btn-large" %>
      </div>
    <% end %>
  </div>
</div>

<% provide :leftNavButtonBody, 'Divisions' %>
<% provide :leftNavButtonUrl, divisions_path %>