<% provide(:title, 'New Division') %>
<h1><%=yield(:title) %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@division) do |f| %>

      <%=render 'fields', f: f %>

      <%= f.submit "Create division", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>