<% provide(:title, @division.name) %>
<h1>
  <%= @division.name %>
</h1>
<div class="row">
  <div class="span6 offset3">
    <dl class="dl-horizontal">
      <%= dtdd 'Name', @division.name %>
      <%= dtdd 'Sex', sex_string(@division.sex) %>
      <dt>

      </dt>
      <dd>
        <% if admin? %>
          <%= link_to 'Edit', edit_division_path(@division), class: "btn btn-large btn-warning" %>
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<% provide :leftNavButtonBody, 'Divisions' %>
<% provide :leftNavButtonUrl, divisions_path %>