<% provide(:title, payment_code(@payment)) %>
<% provide(:titleSmall, "Edit") %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@payment, html: {class: "form-horizontal well"}) do |f| %>
      
      <%=render 'fields', f: f %>

      <div class="form-actions">
        <%= button_tag(type: :submit, class: "btn btn-large btn-success") do %>
          <i class='icon-ok'></i> Save changes
        <% end %>
        <%= link_to raw("<i class='icon-remove'></i> Cancel"), @payment, class: "btn btn-large" %>
      </div>
    <% end %>
  </div>
</div>

<% provide :leftNavButtonBody, 'Payments' %>
<% provide :leftNavButtonUrl, payments_path %>