<footer id="footer" class="footer">
  <div class="container">
    <nav class="nav pull-right">
      <ul>
        <li><%= link_to raw("<i class='icon-external-link'></i> #{Settings.clubName}"), Settings.clubLink %></li>
        <li><%= link_to raw('<i class="icon-exclamation-sign"></i> About'), about_path %></li>
        <li><%= link_to raw('<i class="icon-envelope"></i> Contact'), contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>